Django==4.1.2
asgiref
autopep8
dj-database-url
gunicorn
pycodestyle
pytz
sqlparse
toml
Unipath
whitenoise
django-environ
django-allauth
django-sslserver
mkmsdk
bs4
fontawesomefree==6.3.0
pillow==9.4.0