{% extends "layouts/base.html" %}

{% block title %} Scan a card {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">Scan cards</li>
{% endblock breadcrumb %}

{% block content %}

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
      <div class="d-block mb-4 mb-md-0">
          <h2 class="h4">Scan a new card</h2>
          <p class="mb-0">To begin scan just click the button in the form.</p>
      </div>
  </div>

  <!-- Begin form-->
  <div class="row">
    <div class="col-12 mb-4">
        <div class="card border-0 shadow components-section">
            <div class="card-body"> 
                <form>
                    <div class="my-4">
                        <label for="formFile" class="form-label">Insérer une image</label>
                        <input class="form-control" type="file" id="formFile" accept="image/*" capture>
                    </div>
                    <div>
                        <button class="btn btn-primary" type="button"><i class="fa-solid fa-paper-plane"></i> Envoyer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>
  <!-- End form-->

  <br><br><br>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
