{% extends "layouts/base.html" %}

{% block title %} Card details {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'collections_index' %}">My Collection</a></li>
<li class="breadcrumb-item active" aria-current="page">Card details</li>
{% endblock breadcrumb %}

{% block content %}


  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
      <div class="d-block mb-4 mb-md-0">
          <h2 class="h4">Card {{card.id}}</h2>
          <p class="mb-0">More infos to come.</p>
      </div>
  </div>

  <!-- Begin form-->
  <div class="row">
    
        <div class="card border-0 shadow components-section">
            <div class="card-body"> 
              <div class="row">
                <div class="col-4 my-4">
                  <img src="{{card.image}}"  class="card-img-top img-responsive" style="width:70%" alt="Dark Magician">
                  
                </div>
                <div class="col-5 my-3">
                  <h4 class="card-title text-center">{{card.nom}}</h4>
                  {% for price in prices %}
                  <p> Cette carte est évaluée à <span class="badge bg-secondary"> {{price.trend}} €</span> à ce jour <strong>03/03/2023</strong> sur le marché.</p>
                  {% endfor %}
                  <br>
                  <p class="card-text"><strong>Numéro :</strong> {{card.num}}</p>
                  <p class="card-text"><strong>Catégorie :</strong> {{card.category}}</p>
                  <p class="card-text"><strong>Rarity :</strong> {{card.rarity}}</p>
                  {% for price in prices %}
                  <p class="card-text"><strong>Prix moyen : </strong><span class="badge bg-success"> {{price.avg_price}} €</span> </p>
                  {% endfor %}
                </div>
                <div class="col"></div>
              </div>
                
                  
            </div>
        </div>
  </div>
  <!-- End form-->

  <br><br><br>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
