{% extends "layouts/base.html" %}

{% block title %} Card details {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'collections_index' %}">My Collection</a></li>
<li class="breadcrumb-item active" aria-current="page">Card details</li>
{% endblock breadcrumb %}

{% block content %}


  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
      <div class="d-block mb-4 mb-md-0">
          <h2 class="h4">Card {{card.id}}</h2>
          <p class="mb-0">More infos to come.</p>
      </div>
  </div>

  <!-- Begin form-->
  <div class="row">
    
        <div class="card border-0 shadow components-section">
            <div class="card-body"> 
              <div class="row">
                <div class="col mb-4">
                  <div class="card mx-auto mt-3 shadow">
                    <img src="https://vignette.wikia.nocookie.net/yugioh/images/0/06/DarkMagician-EN-Anime-DM.png" class="card-img-top" alt="Dark Magician">
                    <div class="card-body bg-dark ">
                      <h4 class="card-title text-center">Dark Magician</h4>
                      <p class="card-text text-center">The ultimate wizard in terms of attack and defense.</p>
                      <hr>
                      <div class="row">
                        <div class="col-5">
                          <p class="card-text"><strong>Attribute:</strong> DARK</p>
                          <p class="card-text"><strong>Type:</strong> Spellcaster</p>
                          <p class="card-text"><strong>Level:</strong> 7</p>
                        </div>
                        <div class="col-7">
                          <p class="card-text"><strong>ATK/DEF:</strong> 2500 / 2100</p>
                          <p class="card-text"><strong>Number:</strong> YGLD-ENB02</p>
                        </div>
                      </div>
                      <hr>
                      <p class="card-text"><strong>Description:</strong> The ultimate wizard in terms of attack and defense.</p>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted">© 1996 Kazuki Takahashi</small>
                    </div>
                  </div>
                </div>
                <div class="col mt-3">
                  <span> Cette carte est évaluée à <span class="badge bg-success">100 €</span> à ce jour <strong>03/03/2023</strong> sur le marché</span>
                </div>
                <div class="col"></div>
              </div>
                
                  
            </div>
        </div>
  </div>
  <!-- End form-->

  <br><br><br>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
